appdirs==1.4.3
async-generator==1.10
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
cryptography==36.0.1
cycler==0.10.0
distlib==0.3.0
filelock==3.0.12
h11==0.12.0
idna==3.3
ipynb-py-convert==0.4.6
kiwisolver==1.1.0
matplotlib==3.2.1
numpy==1.18.2
outcome==1.1.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pyudev==0.22.0
selenium==4.1.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
virtualenv==20.0.16
wsproto==1.0.0
